.container {
	position: absolute;
  height: 100%;
	width: 100%;
	background-color: #B8860B;
	text-align: center;
}

#logo {
	text-align: center;
	font-weight: bold;
	font-family: "Lucida Bright", Georgia, serif;
	font-size: 3.3em;
	padding: 15px;
}

#registered-TM {
	font-size: 0.5em;
}

#simon {
	position: relative;
	top: 60px;
	background-color: #696969;
	height: 500px;
	width: 500px;
	border-radius: 250px;
	margin: 0 auto;
}

#simon-control {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	background-color: #DCDCDC;
	height: 250px;
	width: 250px;
	border-radius: 125px;
	border: 10px solid #696969;
	margin: 0 auto;
	z-index: 3;
}

#redBtn {
	position: relative;
	background-color: #a70000;
    height:250px;
    width: 250px;
    -moz-border-radius: 250px 0 0 0;
    border-radius: 250px 0 0 0;
	z-index: 2;
	top: -50%;
	border: 10px solid #696969;
	border-top: 20px solid #696969;
	border-left: 20px solid #696969;
}

.redBtnPush {
	background-color: #f81717 !important;
}

#blueBtn {
	position: relative;
	background-color: #004e99;
	height:250px;
    width: 250px;
    -moz-border-radius: 0 250px 0 0;
    border-radius: 0 250px 0 0;
	z-index: 2;
	top: -100%;
	left: 50%;
	border: 10px solid #696969;
	border-top: 20px solid #696969;
	border-right: 20px solid #696969;
}

.blueBtnPush {
	background-color: #0685ff !important;
}

#greenBtn {
	position: relative;
	background-color: #007c00;
	height:250px;
    width: 250px;
    -moz-border-radius: 0 0 250px 0;
    border-radius: 0 0 250px 0;
	z-index: 2;
	top: -100%;
	left: 50%;
	border: 10px solid #696969;
	border-bottom: 20px solid #696969;
	border-right: 20px solid #696969;
}

.greenBtnPush {
	background-color: #2fcf2f !important;
}

#yellowBtn {
	position: relative;
	background-color: #a7a700;
	height:250px;
    width: 250px;
    -moz-border-radius: 0 0 0 250px;
    border-radius: 0 0 0 250px;
	z-index: 2;
	top: -150%;
	border: 10px solid #696969;
	border-bottom: 20px solid #696969;
	border-left: 20px solid #696969;
}

.yellowBtnPush {
	background-color: #f8f817 !important;
}

#startBtn {
	position: relative;
	height:30px;
	width:30px;
	background-color: red;
	border-radius: 15px;
	border: 3px solid #696969;
	top:-27%;
	left:45%;
}

#startBtn:hover {
	cursor: pointer;
}

#strictBtn {
	position: relative;
	height:30px;
	width:30px;
	background-color: yellow;
	border-radius: 15px;
	border: 3px solid #696969;
	top:-56%;
	left:70%;
}

#strictBtn:hover {
	cursor: pointer;
}

#strictIndicator {
	position: relative;
	height:10px;
	width: 10px;
	background-color: #cc0000;
	border-radius: 5px;
	border: 2px solid #696969;
	left: 74%;
	top: -60%;
}

.strictIndicatorActive {
	background-color: #ff0000 !important;
}

#counterDisplay {
	padding-top: 10px;
	position: relative;
	height:40px;
	width:60px;
	border-radius: 5px;
	background-color: #3E150C;
	left: 10%;
	color: #D7330E;
	font-size: 25px;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
}

#counterText {
	position: relative;
	top: -4px;
}

#powerBtn {
	position: relative;
	height: 15px;
	width: 30px;
	background-color: black;
	border-radius: 2px;
	top: -45%;
	left: 44%;
	padding: 1px;
	z-index: 3;
}

#powerBtnToggle {
	position: relative;
	height: 13px;
	width:13px;
	background-color:#0066cc;
	border-radius: 2px;
	border: 1px solid black;
	z-index: 3;
}

#powerBtnToggle:hover {
	cursor: pointer;
}

.powerBtnOn {
	left: 15px;
}

.simon-labels {
	position: relative;
	text-align: center;
	font-weight: bold;
	font-size: 0.8em;
}

#counter-label {
	left: -27%;
}

#start-label {
	top: -24%;
	left: 1%;
}

#strict-label {
	top: -53%;
	left: 26%;
}

#off-label {
	top: -52%;
	left: -15%;
}

#on-label {
	top: -63.5%;
	left: 15%;
}

.gameBtn:hover {
	cursor: pointer;
}
